/**
 * Stylesheet for customer card
 */
.table {
  display: table;
}
.table .table_row {
  display: table-row;
}
.table .table_row.table_header {
  font-weight: bold;
  background-color: #eee;
}
.table .table_row > * {
  display: table-cell;
  vertical-align: middle;
  padding: 2px 5px;
  border: solid 1px #ddd;
}

.prcaisse_customer_card .status_ok {
  color: #0f740f;
}
.prcaisse_customer_card .status_warn {
  color: #ff6600;
}
.prcaisse_customer_card .status_crit {
  color: #ff0000;
}
.prcaisse_customer_card .status_valid {
  color: #0f740f;
}
.prcaisse_customer_card .status_expired {
  color: #ff0000;
}
.prcaisse_customer_card .encours.paid {
  color: #0f740f;
}
.prcaisse_customer_card .encours.closed {
  color: #888;
}
.prcaisse_customer_card .encours.unpaid {
  color: #ff6600;
}
.prcaisse_customer_card .invoice_type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  font-size: 10px;
  padding: 2px;
  border: solid 1px #000;
}
.prcaisse_customer_card .invoice_type.invoice_type_deposit {
  color: #0f740f;
  border-color: #0f740f;
}
.prcaisse_customer_card .invoice_type.invoice_type_standard {
  visibility: hidden;
}

.prcaisse_customer_card {
  padding-top: 10px;
  /*
  .customer_infos_content_column {

  	width: calc(50% - 350px);
  	padding: 10px 0;

  	&:nth-child(1) {
  		width: 350px;
  	}
  }
  */
  /*
  div.fichehalfleft.largescreenonly,
  div.fichehalfright.largescreenonly {
  	@media only screen and (max-width: 1920px) {
  		float: none !important;
     		width: auto !important;
  	}
  }
  */
}
.prcaisse_customer_card .invoice_history_line .cell_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prcaisse-cbox_customer_alerts #cboxLoadedContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}