/**
 * Stylesheet for customer card
 */

@use "modules/customer_infos";
@use "modules/status_codes";

.prcaisse_customer_card {
	@extend %status_codes;

	padding-top: 10px;

	/*
	.customer_infos_content_column {

		width: calc(50% - 350px);
		padding: 10px 0;

		&:nth-child(1) {
			width: 350px;
		}
	}
	*/

	.invoice_history_line {
		.cell_inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	/*
	div.fichehalfleft.largescreenonly,
	div.fichehalfright.largescreenonly {
		@media only screen and (max-width: 1920px) {
			float: none !important;
    		width: auto !important;
		}
	}
	*/
}
