@use "table_display";
@use "status_codes";

%customer_infos {
	.customer_infos_content {
		margin: 5px 8px;
		font-size: 1em;

		& > * {
			margin: 5px 0;
		}

		@extend %status_codes;

		.customer_infos_general {

			& > div {
				display: table-row;
			}

			.label {
				display: table-cell;
				white-space: nowrap;
				margin-right: 5pt;
			}
			.value {
				display: table-cell;
				font-weight: bold;
			}

			.bonalim .value {
				.bonalim_left {
					font-weight: bold;
				}
				.bonalim_total {
					font-weight: normal;
					font-size: 90%;
				}
			}
		}

		.customer_infos_notes {

			.label {
				margin-right: 5pt;
			}
			.value {
				font-weight: bold;
			}
		}

		.invoice_history {
			display: flex;
			flex-direction: column;

			.label {
				margin-bottom: 5px;
			}

			.value {
				font-weight: normal;

				@extend %table_display;

				.invoice_history_line {

					&.active {
						background-color: #ddd;
					}

					.cell_inner {
						display: flex;
						justify-content: space-between;
						align-items: center;
					}

					.amount {
						text-align: right;
						color: #000;
					}

					.encours {
						font-weight: bold;
						text-align: right;
						&.paid {
							color: #0f740f;
						}
						&.closed {
							color: #888;
						}
						&.unpaid {
							color: #ff6600;
						}
					}
				}
			}
		}

	}
}